@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
$primary: #611f69;
$link-color: #1264a3;
$primary-dark: #4a154b;
$secondary: #ecdeec;
$disabled: #ebeaeb;
$link-color-2: #36c5f0;